* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  /* justify-content:center; */
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #fbda61, #ff5acd);
  flex-direction: column;
}

.inputBox {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  margin-top: 40px;
  /* background-color: #fff; */
}
.inputBox input {
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
}

button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: bold;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.error {
  color: red;
  margin-right: 4.3rem;
  margin-top: -9px;
  font-weight: 600;
}
